.main {
  display: grid;
}

/*hero-section*/
.hero {
  background: #495E57;
}
.hero-content {
  padding: 1rem 5%; /* spacing around content */
  display: flex; /* side-by-side layout */
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  gap: 1rem;
}

.hero-text {
  display: flex;
  flex-direction: column; /* stack h1, h2, p, button vertically */
  align-items: flex-start; /* left-align text elements */
}

.hero-text h1,
.hero-text h2,
.hero-text p {
  text-align: left; /* ensure text stays left-aligned */
}

.hero-text h1 {
  font-size: 3rem;
  margin-bottom: 0;
  color: #F4CE14;
}

.hero-text h2 {
  font-size: 1.5rem;
  color: white;
  margin-bottom: 1rem;
  margin-top: 0;
}

.hero-text p {
  font-size: 1.1rem;
  color: white;
  margin-bottom: 1.5rem;
  line-height: 1.5;
  max-width: 500px; /* limit text width */
}

.reserve-btn {
  align-self: center;
  background: #F4CE14;
  color: #333333;
  border: none;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  border-radius: 16px;
  cursor: pointer;
}

.reserve-btn:hover {
  background: #333333;
  color: #e5e4e2;
}

.hero-image {
  width: 50%;
}

.hero-image img {
  width: 100%;
  height: auto;
  border-radius: 16px; /* optional styling */
}

/*specials section*/
.specials {
  background: #a4ceb7;
}

.specials-content {
  display: grid;
  padding: 1rem 5%; /* spacing around content */
}

.specials-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.specials-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}

.card img {
  height: auto;
  width: 100%;
}

/*testimonials section*/
.testimonials {
  background: #e5e4e2;
}

.testimonials-content {
  display: grid;
  padding: 1rem 5%; /* spacing around content */
}

.testimonials-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
}

.testimonials-title {
  text-align: center; /* centers the text */
  padding: 1rem 0; /* adds vertical padding */
  font-size: 1.75rem; /* makes the title stand out */
}

.testimonial-person {
  display: grid;
  grid-template-columns: 1fr auto;
}

.testimonial-image {
  border-radius: 50%;
}

.testimonial-image img {
  width: 100%;
  border-radius: 50%;
}

.testimonial-name {
  align-self: center;
}

/*about Chicago branch*/
.chicago-branch {
  background: #a4ceb7;
}

.container {
  padding: 1rem 5%; /* spacing around content */
}

.chicago-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}

.chicago-images {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

.chicago-images img {
  width: 100%;
}

.image-top {
  grid-column: 2 / 4;
  grid-row: 1 / 3;
}

.image-bottom {
  grid-column: 1 / 3;
  grid-row: 2 / 4;
}


