.footer {
  background-color: #f8f8f8;
  padding: 2rem;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2rem;
}

.footer-logo img {
  max-width: 120px;
}

.footer-column {
    max-width: 200px;
}

.footer-column p {
    font-size: 0.95rem;
    line-height: 1.4;
    margin: 0;
}
