.footer {
  background-color: #f8f8f8;
  padding: 1rem 5%; /* spacing around content */
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.footer-logo img {
  max-width: 120px;
}

.footer-column {
    max-width: 200px;
}

.footer-column p {
    align-self: flex-end;
    font-size: 0.67rem;
    margin: 2rem 0.75rem;
    max-width: 65ch; /* limit width to ~65 characters */ 
    overflow: hidden; /* hide overflow */ 
    text-overflow: ellipsis; /* add "..." at the end */ 
}
